
.header {
    width: 1052px;
    height: 105px;
    margin: 92px 24px 0;
    display: grid;
    grid-template-columns: 418px 1fr 2fr;
   
}

.header__links-list {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
    color: #000;
}

.header__links-list-item_no-bullit {
    list-style-type: none;
}

.header__links-list-item {
    list-style-type: circle;
}

.header__logo {
    display: block;
    justify-self: center;
    align-self: center;
    width: 140px;
}

.header__logo-image {
    width: 100%;
}

.header__address {
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    padding-left: 184px; 
}

/*начало секции cover*/


.cover {
    position: relative;
    width: 1100px;
    height: 757px;
    margin-top: 96px;
    background-image: url(../images/cover.jpg);
    background-position: center;
    background-size:cover;
    z-index: 1;
}


.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6); 
    z-index: -1;
}

.cover__title {
    padding: 165px 50px 135px;
    font-family: Raleway;
    font-size: 100px;
    font-weight: 700;
    line-height: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    line-height: 117px;
}

.aligned-text {
   letter-spacing: 0.3em;
   
}

.aligned-text_center {
    text-align: center;
}

.aligned-text_right{
    text-align: right;
}

.letter-spacing-extended {
    letter-spacing: 0.6em;

}

.no-letter-spacing {
    letter-spacing: normal;
}

.cover__description {
    display: flex;
    justify-content: space-evenly;
}
.cover__description-text {
    padding-left: 45px;
    color:#FFFFFF;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    font-size: 23px;
    word-spacing: 15px;
    align-content: center;
    
}

.bet-button {
    margin-left: 60px;
    width: 256px;
    height: 51px;
    border: 1px  1px 1px 1px;
    border-color: #FFFFFF;
    font-size: 23px;
    color:#FFFFFF;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    background-image: none; 
	background: transparent;
	background-color: transparent;
}


/*начало секции Лоты*/


.lots {
    position: relative;
    padding: 180px 24px 0;
}

.lots__heading{
    padding: 0 0 0px 40px;
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
}

.lots__card-list{
    display: flex;
    gap: 25px;
    list-style: none;
    margin: 27px 0 30px 0;
}

.lots__card-list-item{
    min-height: 563px;
    width: 334px;
}

.card-link {
    display: block;
    height: 100%;
    text-decoration: none;
}

.card {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-position: center;
    background-size: cover; 
}


.card_type_film {
    background-image: url(../../ono-tebe-nado/images/card-lot-01.jpg);
   
    
}

.card_type_book {
    background-image: url(../images/card-lot-02.jpg); 
 
}

.card_type_picture {
    background-image: url(../images/card-lot-03.jpg);
    
}


.card__title{
    font-size: 22px;
    line-height: 26px;
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 51px 40px 0px;
}

.card__text{
    padding: 0px 40px 48px;
    font-size: 20px;
    line-height: 24px;
    font-weight: 400;
    color: #FFFFFF;
}

.lots__look-more-link {
    padding: 0 0 0 40px;
    font-size: 20px;
    font-weight: 400;
    line-height: 23.48px;
}

/* далее описаны стили для секции about*/

.about {
    display: flex;
    margin: 146px 24px 180px;
}

.logo__column {
    width: 240px;
    height: 240px;
    margin: 35px 72px 320px 47px; 
    background-color: black;     
    border-radius: 50%;
}

.about__logo-image {
    padding: 64px 45.52px 62px 46.48px;
}

.about__column{
    width: 693px;
    height: 449;
    margin: 133px 0 0 0;
}

.about__title {
    font-size: 40px;
    font-weight: 700;
    line-height: 47px;
    text-transform: uppercase;
    margin-bottom: 100px;
}

.about__text-one,
.about__text-two {
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
}

.about__text-one {
    margin-bottom: 24px;
}

/*Секция footer*/

.footer{
    width: 1000px;
    height: 98px;
    display: flex;
    justify-content: space-between;
    margin: 0 50px 88px;
}

.address {
    width: 240.52px;
    height: 98px;  
    font-size: 18px;
    font-weight: 400;
    line-height: 24.3px;
    text-align: left;
}

.footer__menu {
    width: 149px;
    height: 64px;
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 21.13px;
}

.footer__menu-list { /* ul*/
    list-style-type: none;
}


.footer__menu-link_active { /*главная */
    text-decoration: none;
}


.footer__social-list {
    list-style-type: none;
    display: flex;
    gap: 48px;
   
}


.footer__social-icon {
    width: 48px;
    height: 48px;
   
}









